<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/erfarenheter.css">
</head>

<body>
    <header>
        <h1>Niklas Eriksson</h1>
        <p>Fullstack .NET utvecklare</p>
        <nav>
            <ul>
                <li><a href="index.html">Hem</a></li>
                <li><a href="erfarenheter.html">Erfarenhet</a></li>
                <li><a href="utbildning.html">Utbildning</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="erfarenheter">
            <article>
                <h3>Markarbetare</h3>
                <p class="meta">Markbyggarna · 2019 – 2025</p>

                <p class="summary">
                    Arbetade under sex år i större mark- och anläggningsprojekt med fokus på
                    vägbyggen, infrastruktur och säkerhetsarbete.
                </p>

                <h4>Ansvar och arbetsuppgifter</h4>
                <ul>
                    <li>Markberedning, schaktning och grundläggning</li>
                    <li>Arbete med tunga maskiner och specialutrustning</li>
                    <li>Samarbete i större arbetslag med tydliga tidsplaner</li>
                    <li>Efterlevnad av säkerhetsföreskrifter och arbetsmiljökrav</li>
                </ul>

                <h4>Erfarenheter och utveckling</h4>
                <ul>
                    <li>Långsiktigt ansvar och pålitlighet i projekt över flera år</li>
                    <li>Strukturerat arbetssätt under tidspress</li>
                    <li>Vana att arbeta i team med tydliga roller</li>
                </ul>
            </article>

            <article>
                <h3>Personlig tränare</h3>
                <p class="meta">EGO hälsostudio</p>

                <p class="summary">
                    receptionist, grupptränare och personlig tränare
                </p>
                <h4>Ansvar och arbetsuppgifter</h4>
                <ul>
                    <li>Besvara frågor & sälja medlemskap</li>
                    <li>Städning av lokal</li>
                    <li>Träna klienter under PT timmar</li>
                    <li>Hålla gruppträningspass</li>
                </ul>
            </article>
        </section>
    </main>
</body>
<footer>copyright</footer>
</html>