<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Niklas Eriksson – CV</title>
  <link rel="stylesheet" href="../styles/main-styles.css">
</head>

<body>
  <header>
    <h1>Niklas Eriksson</h1>
    <p>Fullstack .NET utvecklare</p>
    <nav>
      <ul>
        <li><a href="index.html">Hem</a></li>
        <li><a href="erfarenheter.html">Erfarenhet</a></li>
        <li><a href="utbildning.html">Utbildning</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
  </header>

<main class="page">
  <section class="introduction">
    <img src="../images/IMG_0290.JPG"
         alt="Bild på Niklas Eriksson"
         class="profile-image">

    <div class="intro-text">
      <h2>Hej, jag är Niklas 👋</h2>
      <p>
        Jag är en blivande fullstack .NET-utvecklare med stort intresse för
        webbutveckling och problemlösning.
      </p>
      <p>
        På fritiden gillar jag träning, teknik och att utveckla mina
        programmeringskunskaper.
      </p>
    </div>
  </section>
<section class="timeline">
  <h2>Min resa</h2>

  <div class="timeline-item">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <h3>2014 – Gymnasiet</h3>
      <p>Påbörjade gymnasiestudier med fokus på teknik.</p>
    </div>
  </div>

  <div class="timeline-item">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <h3>2023 – Idag</h3>
      <p>
        PT på Nordic Wellness (deltid) <br>
        Studerar .NET-utveckling
      </p>
    </div>
  </div>
    <div class="timeline-item">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <h3>2023 – Idag</h3>
      <p>
        PT på Nordic Wellness (deltid) <br>
        Studerar .NET-utveckling
      </p>
    </div>
  </div>
    <div class="timeline-item">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <h3>2023 – Idag</h3>
      <p>
        PT på Nordic Wellness (deltid) <br>
        Studerar .NET-utveckling
      </p>
    </div>
  </div>
    <div class="timeline-item">
    <span class="timeline-dot"></span>
    <div class="timeline-content">
      <h3>2023 – Idag</h3>
      <p>
        PT på Nordic Wellness (deltid) <br>
        Studerar .NET-utveckling
      </p>
    </div>
  </div>
</section>

</main>

  <footer>
    <p>copyright</p>
  </footer>

</body>
</html>
