<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/utbildning.css">
</head>
<body>
      <header>
    <h1>Niklas Eriksson</h1>
    <p>Fullstack .NET utvecklare</p>
    <nav>
      <ul>
        <li><a href="index.html">Hem</a></li>
        <li><a href="erfarenheter.html">Erfarenhet</a></li>
        <li><a href="utbildning.html">Utbildning</a></li>
        <li><a href="kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  <h1 class="main-head">Mina utbildningar</h1>
  <section id="utbildningar"></section>

  <script src="../js/utbildningar.js"></script>
</body>
<footer>copyright</footer>
</html>